
; {{ ansible_managed }}

{% for domain in bind_domain_zones %}
$TTL    {{ bind_zone_ttl }}
@       IN      SOA     {{ domain.name }}. root.localhost. (
      {{ bind_zone_serial }}     ; Serial
      {{ bind_zone_refresh }}    ; Refresh
      {{ bind_zone_retry }}      ; Retry
      {{ bind_zone_expire }}     ; Expire
      {{ bind_zone_neg_ttl }} )  ; Negative Cache TTL
;
; name servers - NS records
{% for nameserver in domain.nameservers %}
     IN      NS      {{ nameserver.name }}.{{ domain.name }}.
{% endfor %}
; name servers - A records

{% for nameserver in domain.nameservers %}
{{ nameserver.name }}.{{ domain.name }}.          IN      A       {{ nameserver.ip }}
{% endfor %}
{% endfor %}
