// {{ ansible_managed }}

{% for item in bind_domain_zones %}

zone {{ item.name }} {
{% if item.type == "master" %}
  type master;
{% elif item.type == "slave" %}
  type slave;
  masters {
  };
{% endif %}
  file "{{ bind_zone_dir }}/db.{{ item.name }}";
  allow-update { key "{{ item.name }}"; };
};

zone "{{ item.reverse }}.in-addr.arpa" {
{% if item.type == "master" %}
  type master; 
{% elif item.type == "slave" %}
  type slave;
  masters {
  };
{% endif %}
  file "{{ bind_zone_dir }}/db.{{ item.reverse }}";
  allow-update { key "{{ item.name }}"; };
};
{% endfor %}
