$TTL    604800
@       IN      SOA     andynottingham2c.mylabserver.com. root.localhost. (
                              3         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
; name servers
      IN      NS      andynottingham2c.mylabserver.com.

; PTR Records
23.205   IN      PTR     andynottingham1c.mylabserver.com.    ; 172.31.23.205
22.124   IN      PTR     andynottingham2c.mylabserver.com.    ; 172.31.22.124
27.172   IN      PTR     andynottingham3c.mylabserver.com.    ; 172.31.27.172
29.20    IN      PTR     andynottingham4c.mylabserver.com.    ; 172.31.29.20

